/*root*/
:root {
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-anton: "Anton", sans-serif;
  --box-shadow: rgba(65, 66, 68, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

body {
  width: 100%;
}

/* header*/

.navbar {
  width: 100%;
  background-color: #d4d9e7;
  height: 90px;
  position: fixed;
  z-index: 2;
}

nav a {
  font-family: var(--font-family-roboto);
  text-decoration: none;
  color: #171716;
  padding: 35px;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

nav ul li {
  display: flex;
  align-content: center;
}

.banner {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/sources/img/header.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo > img {
  width: 40%;
}

.logo {
  text-align: center;
}

h1 {
  color: white;
  font-size: 80px;
  font-family: var(--font-family-anton);
  letter-spacing: 2px;
  padding-bottom: 35px;
}

.banner p {
  padding-bottom: 15px;
  color: white;
  font-size: 18px;
}

.banner button {
  padding: 10px 15px;
  border: 2px solid white;
  background: none;
}
.banner button a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 20px;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-family: var(--font-family-roboto);
  padding-top: 7%;
}

h2::after {
  content: " ";
  display: inherit;
  border-top: 2px solid black;
  margin: 1% auto;
  width: 100px;
  font-weight: 700;
  padding-top: 5%;
}

.destination {
    display: flex;
    flex-flow: row nowrap;
  justify-content: space-around;
}

.location img {
  width: 85%;
}

.location {
   
    display: flex;
    flex-direction: column;

}